version: '3'

services:
  hcms_db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'hcms_database'
      MYSQL_USER: 'hcms_website'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'website789'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    healthcheck:
        test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
        timeout: 15s
        retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
        hcms_db:
          condition: service_healthy
    environment:
      PMA_HOST: hcms_db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      UPLOAD_LIMIT: 2G
    restart: always
    ports:
      - 8183:80    

  hcms_migration:
    image: ttimot24/horizont-cms:latest
    depends_on:
        hcms_db:
          condition: service_healthy
    command: sh -c 'php artisan migrate --no-interaction --force && php artisan db:seed --no-interaction --force && php artisan --version'
    environment:
        DB_HOST: 'hcms_db'
        DB_CONNECTION: 'mysql'
        DB_USERNAME: 'root'
        DB_PASSWORD: 'password'
        DB_DATABASE: 'hcms_database'
        DB_TABLE_PREFIX: 'hcms_'

  hcms_admin_user:
    image: ttimot24/horizont-cms:latest
    depends_on:
        hcms_migration:
          condition: service_completed_successfully
    command: sh -c 'php artisan hcms:user --create-admin --name=Administrator --email=admin@admin.com --username=admin --password=admin1'
    environment:
        INSTALLED: 'true'
        DB_HOST: 'hcms_db'
        DB_CONNECTION: 'mysql'
        DB_USERNAME: 'root'
        DB_PASSWORD: 'password'
        DB_DATABASE: 'hcms_database'
        DB_TABLE_PREFIX: 'hcms_'

  hcms_web:
    build:
        context: .
        dockerfile: Dockerfile
    image: ttimot24/horizont-cms:latest
    restart: always
    depends_on:
        hcms_admin_user:
          condition: service_completed_successfully
    environment:
        INSTALLED: 'true'
        DB_HOST: 'hcms_db'
        DB_CONNECTION: 'mysql'
        DB_USERNAME: 'root'
        DB_PASSWORD: 'password'
        DB_DATABASE: 'hcms_database'
        DB_TABLE_PREFIX: 'hcms_'
    ports:
      - '8099:80'
    volumes:
      - ./themes:/var/www/html/themes
      - ./plugins:/var/www/html/plugins

volumes:
      - hcms-db:/var/lib/mysql

volumes:
  hcms-db:

networks:
    default:
        name: hcms-network
