
$white: white;
$green: #01721f;
$yellow: #f0ad4e;
$orange: #e84d08;
$blue: #0574a0;
$red: #d70c0c;
$black: #1f1f1f;

$primary:   $orange;
$info:      $blue;
$dark:      $black;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: .825rem;

$link-decoration: none;

$alert-bg-scale: 0;