@import "variables";
@import "../../../node_modules/fontawesome-4.7/scss/font-awesome.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../../node_modules/bootstrap-fileinput/scss/fileinput.scss";

@font-face {
    font-family: "FontAwesome";
    src: url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.eot?8b43027f47b20503057dfbbaa9401fef);
    src: url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.eot?8b43027f47b20503057dfbbaa9401fef) format("embedded-opentype"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.woff2?20fd1704ea223900efa9fd4e869efb08) format("woff2"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.woff?f691f37e57f04c152e2315ab7dbad881) format("woff"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.ttf?1e59d2330b4c6deb84b340635ed36249) format("truetype"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.svg?c1e38fd9e0e74ba58f7a2b77ef29fdd3) format("svg");
    font-weight: normal;
    font-style: normal;
  }

body {
    color: #1f1f1f;
    background-color: #F5F5F5;
}

/*.active .nav-link{
    color: $orange !important;
}*/

.nav-link{
    padding: 1rem .75rem !important;
}

.dropdown-menu .nav-link{
    padding: .5rem 1rem !important;
}

.nav-link .fa{
    margin-right: 5px;   
}

.navbar-dark .nav-link{
    color: white !important;
}

.navbar-dark .nav-link:hover{
    color: $orange !important;
    background-color: black !important;
}

.navbar-brand{
    font-size: 19px;
    line-height: 21px;
    height: 40px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-expand-lg .navbar-toggler .icon-bar {
    background-color: #ebebeb;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.dropdown-menu {
    font-size: .75rem;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}


.input-group-prepend {
    padding: 7px 16px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #2b3e50;
    text-align: center;
    background-color: #1f1f1f;
    border: 1px solid transparent;
    border-radius: 0;
}

.progress {
    overflow: hidden;
    height: 21px;
    margin-bottom: 21px;
    background-color: #1f1f1f;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    background-color: $orange;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
} 

.btn{
    font-size: .875rem;
    border-radius: 2px;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background-color: $orange;
    border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: 0 0 0 .2rem $orange;
}

.color-primary{
    color:  $orange !important;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: rgba(0, 0, 0, 0);
}
.btn-default {
    color: #ffffff !important;
    background-color: #1f1f1f;
    border-color: transparent;
}

.hide {
    display: none !important;
}
.form-group {
    margin-bottom: 15px;
}


table a:not(.btn), .table a:not(.btn) {
    /* color: $orange; */
    text-decoration: underline;
}
tr td a {
    color: $orange;
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

.table-hover>tbody>tr:hover {
    background-color: $orange;
}
tr:hover td a {
    color: white;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 200;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    border-radius: 0 !important;
    background-color: #1f1f1f;
}

@media screen and (min-width:768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .container .jumbotron, .container-fluid .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 68px;
    }
    .navbar-nav.ml-auto .dropdown-menu {
        left: auto;
        right: 0;
    }
}

/*------------FileManager Styles------------------*/

    #filemanager .list-group-item:hover, #filemanager .selected{
        border-radius: 0px;
        color:white;
        background-color: #337ab7;  
    }

  #filemanager .file, #filemanager .folder{
    overflow:hidden;
    height:160px;
    cursor:pointer;
    padding:5px;
    text-align:center;
  }

  #filemanager .file a i, #filemanager .folder a i{
    visibility:hidden;
  }

  #filemanager .file:hover a i, #filemanager .folder:hover a i, #filemanager .selected a i{
    visibility:visible;
  }

  #filemanager .file:hover, #filemanager .folder:hover, #filemanager .selected{
    border-radius:1.5px;
    color:white;
    background-color: #337ab7;
  }

  #filemanager .file img{
    object-fit:cover;
    width:100%;
    height:100px;
  }

  h4{
      margin-top: 5px !important;
  }

  .text-muted{
      color: #42494f !important;
  }

  table tr{
      font-size: 13px !important;
  }

  .badge{
      padding: 5px !important;
      margin-top: 5px !important;
      border-radius: 2px;
  }

  .page-item.active .page-link{
    background-color:$orange !important;
    border-color:$orange !important;
  }

  .page-item a{
      background-color: #2e343b;
      border-color: #2e343b;
      color: white;
  }

  .page-item a:hover{
    background-color: #42484f;
    border-color: #42484f;
    color: white;
}

  .pagination .disabled .page-link{
      background-color: #42484f;
      border-color: #42484f;
      cursor: not-allowed;
      color:white;
  }

  .table .bg-danger a{
      color: white;
  }

  .small, small {
    font-size: 70%;
  }

  .alert{
      border-radius: 2px;
  }

  .alert-dismissible .close {
    padding: .65rem 1rem;
  }

  .alert, .badge {
    border-color: transparent;
    color: #ebebeb;
  }

  .form-control{
      font-size: 15px;
  }

/*------CKEDITOR-----*/
.cke_dialog_tabs a{
  text-decoration:none;
}

.cke_dialog_contents_body{
    min-width:500px;
}

.cke_dialog_body a{
    color:black;
    text-decoration:none !important;
}

.cke_dialog_body:hover a{
    color:black;
    text-decoration:none;
}

pre {
    color: black;
}

i.bi{
    font-size: 1.5em;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after{
    background-image: unset;
}

.form-switch{
    font-size: 1.25rem;
}

#hidden-home{
    visibility:hidden;
}

tr:hover #hidden-home{
    visibility:visible;
    color:grey;
}

tr #hidden-home a:hover{
  color:black;
}

.close.fileinput-remove {
    display: none;
}

.file-caption .file-caption-name {
    width: unset;
}

.was-validated .input-group > .form-control:not(:focus):valid, .input-group > .form-control:not(:focus).is-valid, .was-validated .input-group > .form-select:not(:focus):valid, .input-group > .form-select:not(:focus).is-valid, .was-validated .input-group > .form-floating:not(:focus-within):valid, .input-group > .form-floating:not(:focus-within).is-valid {
    width: 45%;
  }

.card label {
    font-weight: bold;
}