@import "variables";
@import "../../../node_modules/fontawesome-4.7/scss/font-awesome.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../../node_modules/bootstrap-fileinput/scss/fileinput.scss";

@font-face {
    font-family: "FontAwesome";
    src: url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.eot);
    src: url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.eot) format("embedded-opentype"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.woff2) format("woff2"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.woff) format("woff"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.ttf) format("truetype"), url(/resources/fonts/vendor/fontawesome-4.7/fontawesome-webfont.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #1f1f1f;
    background-color: #F5F5F5;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 1rem !important;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
}

.nav-link {
    padding: 1rem .75rem !important;
}

.nav-item .active {
    padding: 1rem .75rem !important;
    color: $orange;
}

.dropdown-menu .nav-link {
    padding: .5rem 1rem !important;
}

.nav-link .fa {
    margin-right: 5px;
}

.navbar-dark .nav-link {
    color: white !important;
}

.navbar-dark .nav-link:hover {
    color: $orange !important;
    background-color: black !important;
}

.navbar-brand {
    font-size: 19px;
    line-height: 21px;
    height: 40px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-expand-lg .navbar-toggler .icon-bar {
    background-color: #ebebeb;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.dropdown-menu {
    font-size: .75rem;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}


.input-group-prepend {
    padding: 7px 16px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #2b3e50;
    text-align: center;
    background-color: #1f1f1f;
    border: 1px solid transparent;
    border-radius: 0;
}

.progress {
    overflow: hidden;
    height: 21px;
    margin-bottom: 21px;
    background-color: #1f1f1f;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    background-color: $orange;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.btn {
    border-radius: 2px;
}

.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:active {
    color: #ffffff;
    background-color: $orange;
    border-color: transparent;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem $orange;
}

.color-primary {
    color: $orange !important;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: rgba(0, 0, 0, 0);
}

.btn-default {
    color: #ffffff !important;
    background-color: $dark;
    border-color: transparent;
}

.btn-default:hover {
    background-color: $dark;
    border-color: $dark;
}

.hide {
    display: none !important;
}

.form-group {
    margin-bottom: 1rem;
}

.table>tbody>tr>td {
    font-size: 0.8rem;
    vertical-align: middle;

    a:not(.btn) {
        color: $orange;
        text-decoration: underline;
    }

}

.table-hover>tbody>tr:hover {
    transition: .5s;
    background-color: $orange;

    td a {
        color: white;
    }

}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: $white;
    border-radius: 0 !important;
    background-color: $dark;

    p {
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 200;
    }

}

@media screen and (min-width:768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }

    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 68px;
    }

    .navbar-nav.ml-auto .dropdown-menu {
        left: auto;
        right: 0;
    }
}

/*------------FileManager Styles------------------*/

#filemanager {

    .file,
    .folder {

        overflow: hidden;
        height: 160px;
        cursor: pointer;
        padding: 5px;
        text-align: center;

        a i {
            visibility: hidden;
        }
    }

    .file img {
        object-fit: cover;
        width: 100%;
        height: 100px;
    }

    .list-group-item:hover,
    .selected {
        border-radius: 0px;
        color: white;
        background-color: #337ab7;
    }

    .file:hover a i,
    .folder:hover a i,
    .selected a i {
        visibility: visible;
    }

    .file:hover,
    .folder:hover,
    .selected {
        border-radius: 1.5px;
        color: white;
        background-color: #337ab7;
    }

}

h4 {
    margin-top: 5px !important;
}

.text-muted {
    color: #42494f !important;
}

table tr {
    font-size: 13px !important;
}

.badge {
    padding: 5px !important;
    margin-top: 5px !important;
    border-radius: 2px;
}

.page-item.active .page-link {
    background-color: $orange !important;
    border-color: $orange !important;
}

.page-item a {
    background-color: #2e343b;
    border-color: #2e343b;
    color: white;
}

.page-item a:hover {
    background-color: #42484f;
    border-color: #42484f;
    color: white;
}

.pagination .disabled .page-link {
    background-color: #42484f;
    border-color: #42484f;
    cursor: not-allowed;
    color: white;
}

.table .bg-danger a {
    color: white;
}

.small,
small {
    font-size: 70%;
}

.alert {
    border-radius: 2px;
}

.alert-dismissible .close {
    padding: .65rem 1rem;
}

.alert,
.badge {
    border-color: transparent;
    color: #ebebeb;
}

/*------CKEDITOR-----*/
.cke_dialog_tabs a {
    text-decoration: none;
}

.cke_dialog_contents_body {
    min-width: 500px;
}

.cke_dialog_body a {
    color: black;
    text-decoration: none !important;
}

.cke_dialog_body:hover a {
    color: black;
    text-decoration: none;
}

pre {
    color: black;
}

i.bi {
    font-size: 1.5em;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: unset;
}

.form-switch {
    font-size: 1.25rem;
}

#hidden-home {
    visibility: hidden;
}

tr:hover #hidden-home {
    visibility: visible;
    color: grey;
}

tr #hidden-home a:hover {
    color: black;
}

.close.fileinput-remove {
    display: none;
}

.file-caption .file-caption-name {
    width: unset;
}

.was-validated .input-group>.form-control:not(:focus):valid,
.input-group>.form-control:not(:focus).is-valid,
.was-validated .input-group>.form-select:not(:focus):valid,
.input-group>.form-select:not(:focus).is-valid,
.was-validated .input-group>.form-floating:not(:focus-within):valid,
.input-group>.form-floating:not(:focus-within).is-valid {
    width: 45%;
}

.card label {
    font-weight: bold;
}

.list-group-item:first-child {
    border-radius: 0px;
}