html{
	background-color: #2b2b2b;
}

body{
	margin-top:20px;
	margin-left: auto;
    margin-right: auto;
	background-color: white;
	width: 950px;
	min-height:800px;
	
	padding-top:16px;
	padding-left:30px;
	padding-right: 30px;

}

footer{
	clear:both;
	margin-top: 15px;
}

h1,h2,h3,h4,h5{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}


p{
	font-family: Georgia, "Bitstream Charter", serif;
	color:#333;
	font-size: 16px;
	line-height: 24px;
}

img{
	max-width:100%;
	max-height:100%;
}

li{
	list-style-type: square;
}

nav{
	margin-top: -22px;
	background-color: black;
	height:45px;
	font-family: Arial;
	font-size: 15px;
}

nav ul{
	padding-left: 15px;
}

nav ul li{
	padding-top:5px;
	list-style-type: none;
	line-height: 40px;
	float:left;
	color: grey;
}

nav ul li:hover{
		background-color: #2b2b2b;
}

nav ul li:hover a{
		color:white;
		font-weight: bolder;
}

nav ul li.selected a{
		color:white;
		font-weight: bolder;
}

nav a, nav a:visited{
	margin: 15px;
	text-decoration: none;
	color:grey;
}





nav ul li ul{
  z-index: 5;
  display: none;
  padding-left: 0px;
  position: absolute;
  height:45px;
  line-height: 45px;
 } 


nav ul li:hover ul{
  display: block;
  background-color: black;
 } 



hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

hr#bolder{
	background-color: black;
	border: 0;
	clear: both;
	height: 3px;
	margin-bottom: 18px;

}

div.slogan{
	font-style: italic;
	padding-top: -5px;
	color: grey;
	font-size: 15px;
}

div.header_image{
	clear:both;
	margin-bottom: 0px;
	height: 200px;
	width:100%;
	background-repeat:no-repeat;
    background-size:cover;
	background-color: black; 
}

div.content{
	margin:10px;
}

div.content-left{
	width:75%;
	float:left;
}

div.content-right{
	float:right;
	margin-top: 25px;
	width:22%;
}

div.content-right a{
	font-size: 14px;
	color:blue;
}


div.news{
	margin-top:50px;
}

div.news a{
	color:grey;
}

div.news_meta{
	color: grey;
	font-size: 15px;
}

a#news_title{
	color:black;
	text-decoration: none;
}

a#news_title:hover{
	color:black;
	text-decoration: underline;
}

div.comment a,div.comment a:visited{
	color:blue;
}