name: HorizontCMS CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6
        with:
          args: --ignore-platform-reqs
      - name: Check PHP syntax errors
        uses: overtrue/phplint@9.4.1

  phpstan: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6
        with:
          args: --ignore-platform-reqs
      - name: Running Phpstan
        run: ./vendor/bin/phpstan analyse app bootstrap config database routes --level 0
            
  test:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6
        with:
          args: --ignore-platform-reqs
      - name: Force installed variable
        run: export INSTALLED=YES
      - name: Run unit tests
        run: XDEBUG_MODE=coverage vendor/bin/phpunit --testsuite Unit --coverage-clover reports/coverage.xml --coverage-html ./reports/html
    #  - name: Upload coverage
    #    run: | 
    #      if [ -f "reports/coverage.xml" ]; then vendor/bin/codacycoverage clover reports/coverage.xml; fi 
      - name: Show versions
        run: | 
          php artisan --version
          php artisan hcms:version   
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.1', '8.2', '8.3', '8.4']

  frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 22.x
      uses: actions/setup-node@v3
      with:
        node-version: '22.x'
        cache: 'npm'
    - run: npm install
    - run: npm run build
    
  docker_image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ttimot24/horizont-cms:latest
